body {
  font-family: "Roboto", sans-serif;
  background: linear-gradient(
    180.3deg,
    rgb(214, 224, 255) 37.2%,
    rgb(254, 168, 168) 137.3%
  );
  max-width: 75%;
}
button {
  background: #84c0fe;
  color: #42a5f5;
  border-radius: 20px;
  margin: 0 auto;
  border: 1px solid;
}
.row {
  margin-top: 35px;
}
.city-form {
  margin-left: 50px;
  padding-top: 5px;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
li {
  list-style: none;
}
