body {
  font-family: "Roboto", sans-serif;
  background: linear-gradient(
    180.3deg,
    rgb(214, 224, 255) 37.2%,
    rgb(254, 168, 168) 137.3%
  );
  max-width: 75%;
}
.icon {
  size: 28px;
}

.card {
  margin-top: 20px;
  width: 50%;
  color: #84c0fe;
  border: #42a5f5;
  border-radius: 10%;
}
.row {
  margin-top: 35px;
}
